<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8"/>
		<title>Noughts and crosses</title>
		<link rel="stylesheet" href="styles.css?v=<%=rand(150)%>">
	</head>
	<body>
		<div class="area green">
		<h1>Noughts & crosses</h1>
		<a class="blue" href="player_one.rhtml" style="text-decoration:none">1 player</a></br>
		<a class="red" href="player_two.rhtml" style="text-decoration:none">2 players</a>
		</div>
	</body>
</html>