<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8"/>
		<title>Noughts and crosses</title>
		<link rel="stylesheet" href="styles.css?v=<%=rand(150)%>">
	</head>
	<body>
		<div class="area green">
			<a class="white" href="Menu.rhtml" style="text-decoration:none">←</a></br>
			<h2>Noughts & crosses</h2>
			<a class="blue" href=" l" style="text-decoration:none">Easy</a></br>
			<a class="yellow" href=" " style="text-decoration:none">Medium</a></br>
			<a class="red" href=" " style="text-decoration:none">Hard</a></br>
			<a class="purple" href=" " style="text-decoration:none">Nightmare</a>	
		</div>
	</body>
</html>