<html>
  <body>
		<form>
			<label for="name">Nombre:</label><br>
			<input type="text" id="name" name=name><br>
			<label for="last_name">Apellido:</label><br>
            <input type="text" id="last_name" name=last_name><br>
            <button type="submit" form="form1" value="Submit">Submit</button>
		</form>
    <hr>
    <%=
      if servlet_request.query['way'] == "forward"
        "Hello"
      else
        "olleH"
      end
      "Hola%name%last_name"
    %>
    </hr>
    <h4>fin</h4>
  </body>
</html>
