<!DOCTYPE html>
<html>
	<body>
		<form>
			<input type="text" name="user[first_name]">
			<input type="text" name="user[last_name]">
			<input type="text" name="user[email]">
		</form>
	</body>
</html>
